<html>
<head>
        <link rel="stylesheet" href="/css/bootstrap.css"/>
        <link rel="stylesheet" href="/css/site/style.css"/>
        <meta charset="utf-8">        
</head>
<body>    

        <div class="container">
                <div class="header" id="navbarNav">
                    <ul class="nav nav-pills pull-left">
                        <li class="nav-item active">
                            <a class="nav-link" href="./">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../produtos/">Lista Livros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../produtos/form">Cadastro Livros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="../promocoes/form">Cadastro Promoções</a>
                        </li>
                    </ul>
                </div>
        </div>


</body>
<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io();
    socket.on('novaPromocao', function(data){
        alert("Livro em promocao: " + data.livro.id);
    });
</script>
</html>
